<!--The content below is only a placeholder and can be replaced.-->
<div>
  <rosen-onboarding-button title="ONBOARDING"></rosen-onboarding-button>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <div id="#logo-img">
      <img width="300" alt="Angular Logo"
                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
        </div>

        <p>{{infoMessage}}</p>
    </div>
    <h2>Here are some links to help you start: </h2>

    <button id="button-that-needs-onboarding" mat-raised-button color="accent">This button needs onboarding</button>
    <ul>
        <li>
            <h2><a target="_blank" rel="noopener" id="tour-of-heroes" class="tourofheros"
                   href="https://angular.io/tutorial">Tour of Heroes</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" id="documentation" href="https://github.com/angular/angular-cli/wiki">CLI
        Documentation</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" id="angular-blog" href="https://blog.angular.io/">Angular blog</a>
      </h2>
    </li>
  </ul>
  <button mat-raised-button (click)="popupVisible = true">Show modal dialog</button>
  @if (popupVisible) {
    <div class="test-dialog-with-transform-background">
      <div class="test-dialog-with-transform">
        <div>
          Close dialog?
        </div>
        <div>
          <button mat-raised-button (click)="popupVisible = false">Yes</button>
          <button id="dx-popup-ok-button" color="primary" mat-raised-button (click)="popupVisible = false">Ok</button>
        </div>
      </div>
    </div>
  }
</div>
<rosen-onboarding></rosen-onboarding>
